:root {
  --font-family: "Inter", sans-serif;
  --primary-font-color: #2d3748;
  --secondary-font-color: #a0aec0;
  --primary-color: #4fd1c5;
  --secondary-color: #718096;
  --bg-color: #f8f9fa;
  --secondary-bg: #fff;
  --offline-bg: #cbd5e0;
  --online-bg: #48bb78;
  --border-color: #e2e8f0;
}

*{
  margin: 0;
  padding: 0;
}